@import "./assets/fonts/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Josefin Sans", system-ui, sans-serif;
    font-weight: 700;
  }
}

@layer components {
  .text-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
}